{% extends "_layouts/base.jinja2" %}

{% block title %}{{ page.title }} | Mario-César Señoranis{% endblock %}
{% block extrahead -%}
  {% if page.description -%}
  <meta name="description" content="{{ page.description }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  {%- endif %}
  <link rel="canonical" href="{{ canonical_url(site, page) }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ canonical_url(site, page) }}" />
  <meta property="og:image" content="{{ site.image_url }}" />
  <meta property="article:published_time" content="{{ page.date.isoformat() if page.date else page.lastmod.isoformat() }}" />
  <meta property="article:modified_time" content="{{ page.lastmod.isoformat() }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:image" content="{{ site.image_url }}" />
  <script type="application/ld+json">
  {{ article_schema(site, page)|safe|indent(4) }}
  </script>
{%- endblock %}

{% block body -%}
  <article class="prose article-page">
    <header class="article-header">
      <time datetime="{{ page.lastmod.isoformat() }}">{{ display_date(page.lastmod) }}</time>
    </header>
    {{ page.content|safe|indent(4) }}
  </article>
{%- endblock %}
