<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/svg+xml"  href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22&gt;&lt;text y=%22.9em%22 font-size=%2290%22&gt;👋🏼&lt;/text&gt;&lt;/svg&gt;" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="follow, index" />
    <meta content="#ffffff" name="theme-color" />
    <meta content="#ffffff" name="msapplication-TileColor" />
    <link rel="stylesheet" href="css/main.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B4MFBP94Q5"></script>
    <script>
        (function (el) {el.className = el.className.replace('no-js', ' ')})(document.getElementsByTagName('html')[0])
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-B4MFBP94Q5');
    </script>
    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="root">
    <header></header>
    <main role="main">
        <div class="container">
            {% block body -%}{% endblock %}
        </div>
    </main>
</div>
<script>
    gtag(function(tracker) {
        Array.prototype.slice.call(document.querySelectorAll("a[href^=http]")).map((el)=> {
            el.onclick = function(event) {
                event.preventDefault();
                gtag(
                    'send', 'event', 'outbound', 'click', el.href,
                    {'hitCallback': function(){document.location = el.href;}},
                    {'nonInteraction': 1}
                )
                return false
            };
            console.log("Added event tracking for outbound links.")
        });
    });
</script>
</body>
</html>
