:focus {
  outline: 0;
}
::after,
::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-size: inherit;
}

html {
  font-size: 100%;
  background: #fffefc;
}

body {
  font-size: 17.5px;
  font-synthesis: none;
  font-family: inter, "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Apple Color Emoji", "Arial", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: -0.2px;
  color: #1d2d35;
  -moz-font-feature-settings: "kern";
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.markdown {
  margin-right: auto;
  margin-left: auto;
}

.markdown h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.35;
  letter-spacing: -0.025em;
}

@media only screen and (min-width: 50rem) {
  .markdown h1 {
    font-size: 3rem;
  }
}

.markdown p,
.markdown ul > li {
  margin-bottom: 1.25rem;
}

.markdown ul {
  margin-top: 0;
  list-style: none;
  position: relative;
  padding-left: 1.5em;
  padding-right: 0;
}

.markdown ul > li:before {
  position: absolute;
  left: 0em;
  color: rgba(0, 0, 0, 0.5);
  content: "\2014";
  width: 1.5em;
  margin-left: 0;
  text-align: center;
}

@media only screen and (min-width: 50rem) {
  .markdown ul {
    padding-left: 2em;
    padding-right: 2em;
  }
  .markdown ul > li:before {
    left: 0.25em;
  }
}

a {
  position: relative !important;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
  color: #7a7f84;
  word-break: break-word;
  transition: color 100ms ease-in;
}

a:hover,
a:active {
  color: #333;
  outline: 0;
}

a:focus {
  outline: thin dotted;
}

@media only screen and (min-width: 50rem) {
  a {
    white-space: nowrap;
    word-break: normal;
  }
}

/* Layout */

header {
  height: 1rem;
}

@media only screen and (min-width: 50rem) {
  header {
    height: 2rem;
  }
}

.main {
  max-width: 100%;
}

.container article > p:hover,
.container article > ul > li:hover {
  background: rgba(0, 0, 0, 0.033);
  transition: background-color 400ms ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
